header {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/apis-varias-mias.appspot.com/o/pizzeria%2Fpizza-1239077_640_cl.jpg?alt=media&token=6a9a33da-5c00-49d4-9080-784dcc87ec2c');
    background-size: cover;
    background-position: center;
    position: relative;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}